[flake8]
max_line_length = 80
ignore =
    # Line too long
    E501,
    # module level import not at top of file
    E402,
    # line break before binary operator
    W503,
in-place = true
recursive = true
aggressive = 2
exclude =
    agents/meinberg_m1000/mibs/MBG-SNMP-LTNG-MIB.py,
    agents/meinberg_m1000/mibs/SNMPv2-MIB.py,
    agents/meinberg_m1000/mibs/MBG-SNMP-ROOT-MIB.py,
    agents/ibootbar/mibs/IBOOTPDU-MIB.py,
    agents/ups/mibs/UPS-MIB.py,
    versioneer.py,
    docs/conf.py,
