[flake8]
max_line_length = 80
ignore =
    # Line too long
    E501,
    # module level import not at top of file
    E402,
    # line break before binary operator
    W503,
in-place = true
recursive = true
aggressive = 2
exclude =
    socs/mibs/MBG-SNMP-LTNG-MIB.py,
    socs/mibs/SNMPv2-MIB.py,
    socs/mibs/MBG-SNMP-ROOT-MIB.py,
    socs/mibs/IBOOTPDU-MIB.py,
    socs/mibs/UPS-MIB.py,
    socs/mibs/MBG-SYNCBOX-N2X-MIB.py,
    docs/conf.py,
per-file-ignores =
    # Windows only dependency
    socs/agents/thorlabs_mc2000b/agent.py:F405
