version: '3.2'
services:
  # --------------------------------------------------------------------------
  # The socs library.
  # --------------------------------------------------------------------------
  socs:
    image: "socs"
    build: .

  # --------------------------------------------------------------------------
  # SOCS Agents
  # --------------------------------------------------------------------------
  
  # --------------------------------------------------------------------------
  # The Lakeshore 372 Agent
  # --------------------------------------------------------------------------
  ocs-lakeshore372-agent:
    image: "ocs-lakeshore372-agent"
    build: ./agents/lakeshore372/

  # --------------------------------------------------------------------------
  # The Lakeshore 240 Agent
  # --------------------------------------------------------------------------
  ocs-lakeshore240-agent:
    image: "ocs-lakeshore240-agent"
    build: ./agents/lakeshore240/

  # --------------------------------------------------------------------------
  # The Pysmurf Controller Agent
  # --------------------------------------------------------------------------
  ocs-pysmurf-agent:
    image: "ocs-pysmurf-agent"
    build: ./agents/pysmurf_controller/

  # --------------------------------------------------------------------------
  # The Pysmurf Monitor Agent
  # --------------------------------------------------------------------------
  ocs-pysmurf-monitor-agent:
    image: "ocs-pysmurf-monitor-agent"
    build: ./agents/pysmurf_monitor/

  # --------------------------------------------------------------------------
  # The Pysmurf Archiver Agent
  # --------------------------------------------------------------------------
  ocs-pysmurf-archiver-agent:
    image: "ocs-pysmurf-archiver-agent"
    build: ./agents/pysmurf_archiver/

  # --------------------------------------------------------------------------
  # Smurf stream simulator agent
  # --------------------------------------------------------------------------
  ocs-smurf-stream-sim-agent:
    image: "ocs-smurf-stream-sim"
    build: ./agents/smurf_stream_simulator/

  # --------------------------------------------------------------------------
  # SMuRF timestream aggregator
  # --------------------------------------------------------------------------
  ocs-timestream-aggregator:
    image: "ocs-timestream-aggregator"
    build: ./agents/timestream_aggregator/

  # --------------------------------------------------------------------------
  # The Bluefors log tracking Agent
  # --------------------------------------------------------------------------
  ocs-bluefors-agent:
    image: "ocs-bluefors-agent"
    build: ./agents/bluefors/

  # --------------------------------------------------------------------------
  # Power Supply control Agent
  # --------------------------------------------------------------------------
  ocs-psu-agent:
    image: "ocs-psu-agent"
    build: ./agents/keithley2230G-psu/

  # --------------------------------------------------------------------------
  # Cryomech CPA1114 compressor log agent
  # --------------------------------------------------------------------------
  ocs-cryomech-cpa1114-agent:
    image: "ocs-cryomech-cpa1114-agent"
    build: ./agents/cryomech-cpa1114/
