version: '3.2'
services:
  # --------------------------------------------------------------------------
  # SOCS Base Image
  # --------------------------------------------------------------------------
  socs:
    image: "socs"
    build: .

  # --------------------------------------------------------------------------
  # SOCS Agents
  # --------------------------------------------------------------------------
  ocs-pysmurf-agent:
    image: "ocs-pysmurf-agent"
    build: ./docker/pysmurf_controller/

  # Temporarily disabled until build is fixed.
  #ocs-wgactuator-agent:
  #  image: "ocs-wgactuator-agent"
  #  build: ./docker/wiregrid_actuator/
  #  depends_on:
  #    - "socs"

  # Only works with --privileged, will insist users build image themselves
  # ocs-hwp-picoscope-agent:
  #   image: "ocs-hwp-picoscope-agent"
  #   build: ./docker/hwp_picoscope/
  #   depends_on:
  #     - "socs"

  # --------------------------------------------------------------------------
  # SOCS Simulators
  # --------------------------------------------------------------------------
  ocs-lakeshore240-simulator:
    image: "ocs-lakeshore240-simulator"
    build: ./simulators/lakeshore240/
    depends_on:
      - "socs"

  ocs-lakeshore372-simulator:
    image: "ocs-lakeshore372-simulator"
    build: ./simulators/lakeshore372/
    depends_on:
      - "socs"
