version: '3.2'
services:
  # --------------------------------------------------------------------------
  # The socs library.
  # --------------------------------------------------------------------------
  socs:
    image: "socs"
    build: .

  # --------------------------------------------------------------------------
  # SOCS Agents
  # --------------------------------------------------------------------------
  
  # --------------------------------------------------------------------------
  # The Lakeshore 372 Agent
  # --------------------------------------------------------------------------
  ocs-lakeshore372-agent:
    image: "ocs-lakeshore372-agent"
    build: ./agents/lakeshore372/

  # --------------------------------------------------------------------------
  # The Lakeshore 370 Agent
  # --------------------------------------------------------------------------
  ocs-lakeshore370-agent:
    image: "ocs-lakeshore370-agent"
    build: ./agents/lakeshore370/

  # --------------------------------------------------------------------------
  # The Lakeshore 240 Agent
  # --------------------------------------------------------------------------
  ocs-lakeshore240-agent:
    image: "ocs-lakeshore240-agent"
    build: ./agents/lakeshore240/

  # --------------------------------------------------------------------------
  # The Lakeshore 336 Agent
  # --------------------------------------------------------------------------
  ocs-lakeshore336-agent:
    image: "ocs-lakeshore336-agent"
    build: ./agents/lakeshore336/

  # --------------------------------------------------------------------------
  # The Lakeshore 425 Agent
  # --------------------------------------------------------------------------
  ocs-lakeshore425-agent:
    image: "ocs-lakeshore425-agent"
    build: ./agents/lakeshore425/

  # --------------------------------------------------------------------------
  # The Pysmurf Controller Agent
  # --------------------------------------------------------------------------
  ocs-pysmurf-agent:
    image: "ocs-pysmurf-agent"
    build: ./agents/pysmurf_controller/

  # --------------------------------------------------------------------------
  # The Pysmurf Monitor Agent
  # --------------------------------------------------------------------------
  ocs-pysmurf-monitor-agent:
    image: "ocs-pysmurf-monitor-agent"
    build: ./agents/pysmurf_monitor/

  # --------------------------------------------------------------------------
  # The Pysmurf Archiver Agent
  # --------------------------------------------------------------------------
  ocs-pysmurf-archiver-agent:
    image: "ocs-pysmurf-archiver-agent"
    build: ./agents/pysmurf_archiver/

  # --------------------------------------------------------------------------
  # Smurf stream simulator agent
  # --------------------------------------------------------------------------
  ocs-smurf-stream-sim-agent:
    image: "ocs-smurf-stream-sim"
    build: ./agents/smurf_stream_simulator/

  # --------------------------------------------------------------------------
  # SMuRF timestream aggregator
  # --------------------------------------------------------------------------
  ocs-smurf-recorder:
    image: "ocs-smurf-recorder"
    build: ./agents/smurf_recorder/

  # --------------------------------------------------------------------------
  # The Bluefors log tracking Agent
  # --------------------------------------------------------------------------
  ocs-bluefors-agent:
    image: "ocs-bluefors-agent"
    build: ./agents/bluefors/

  # --------------------------------------------------------------------------
  # Power Supply control Agent
  # --------------------------------------------------------------------------
  ocs-scpi-psu-agent:
    image: "ocs-scpi-psu-agent"
    build: ./agents/scpi_psu/

  # --------------------------------------------------------------------------
  # Cryomech CPA compressor log agent
  # --------------------------------------------------------------------------
  ocs-cryomech-cpa-agent:
    image: "ocs-cryomech-cpa-agent"
    build: ./agents/cryomech_cpa/

  # --------------------------------------------------------------------------
  # LabJack Agent
  # --------------------------------------------------------------------------
  ocs-labjack-agent:
    image: "ocs-labjack-agent"
    build: ./agents/labjack/
    
  # --------------------------------------------------------------------------
  # Pfeiffer tpg366 agent
  # --------------------------------------------------------------------------
  ocs-pfeiffer-tpg366-agent:
    image: "ocs-pfeiffer-tpg366-agent"
    build: ./agents/pfeiffer_tpg366/
    
  # --------------------------------------------------------------------------
  # Synaccess power strip agent
  # --------------------------------------------------------------------------
  ocs-synaccess-agent:
    image: "ocs-synaccess-agent"
    build: ./agents/synacc/

  # --------------------------------------------------------------------------
  # Meinberg M1000
  # --------------------------------------------------------------------------
  ocs-meinberg-m1000-agent:
    image: "ocs-meinberg-m1000-agent"
    build: ./agents/meinberg_m1000/

  # -------------------------------------------------------------------------
  # SMuRF Crate Monitor
  # -------------------------------------------------------------------------
  ocs-smurf-crate-monitor:
    image: "ocs-smurf-crate-monitor"
    build: ./agents/smurf_crate_monitor/

  # --------------------------------------------------------------------------
  # Tektronix3021c
  # --------------------------------------------------------------------------
  ocs-tektronix3021c-agent:
    image: "ocs-tektronix3021c-agent"
    build: ./agents/tektronix3021c/

  # --------------------------------------------------------------------------
  # CHWP Encoder BBB agent
  # --------------------------------------------------------------------------
  ocs-hwpbbb-agent:
    image: "ocs-hwpbbb-agent"
    build: ./agents/chwp/

  # --------------------------------------------------------------------------
  # SOCS Simulators
  # --------------------------------------------------------------------------

  # --------------------------------------------------------------------------
  # Lakeshore240 Simulator
  # --------------------------------------------------------------------------
  ocs-lakeshore240-simulator:
    image: "ocs-lakeshore240-simulator"
    build: ./simulators/lakeshore240/

  ocs-lakeshore372-simulator:
    image: "ocs-lakeshore372-simulator"
    build: ./simulators/lakeshore372/
