sphinx-argparse
numpy
autobahn[serialization]
twisted

# Lakeshore240
pyserial

mysql-connector>=2.1.6

# LabJack Agent
pymodbus
numexpr
pyyaml
scipy

# Meinberg M1000
pysnmp
pysmi

# Docs
sphinx_rtd_theme

# testing
pytest
pytest-docker-compose
