sphinx-argparse
numpy
autobahn[serialization]
twisted

# Lakeshore240
pyserial

mysql-connector>=2.1.6

# LabJack Agent
pymodbus
numexpr
pyyaml
scipy

# Meinberg M1000
pysnmp
pysmi

# suprsync agent and tests
sqlalchemy

# Docs
# see docs/requirements.txt

# testing
pytest
pytest-cov
pytest-docker-compose
pytest-dependency
pytest-order