[run]
source =
    ../socs

omit =
  # omit version file
  */_version.py

  # omit lab only Agents for now
  */Lakeshore336.py
  */Lakeshore370.py

  # omit mibs
  */mibs/*.py

[coverage:report]
skip_empty = true
