name: Run Tests

on:
  push:
    branches-ignore: [ develop ]
  pull_request:

jobs:
  test:
    name: pytest with coverage
    runs-on: ubuntu-latest

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ github.token }}

    - name: Install system packages
      run: |
        sudo apt-get install -y socat

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    # Install
    - name: Install so3g
      run: |
        pip3 install so3g

    - name: clone socs
      uses: actions/checkout@v2

    - name: Install socs
      run: |
        pip3 install -r requirements.txt
        pip3 install -e .

    # Unit Tests
    - name: Run unit tests
      working-directory: ./tests
      run: |
        COVERAGE_FILE=.coverage.unit python3 -m pytest --cov -m 'not integtest'

    - name: Build docker test images
      run: |
        docker-compose build socs

    # Integration Tests
    - name: Build images for integration tests
      run: |
        docker-compose build ocs-lakeshore372-simulator

    - name: Run integration tests
      working-directory: ./tests
      run: |
        COVERAGE_FILE=.coverage.int python3 -m pytest --cov -m 'integtest'

    # Coverage
    - name: Report test coverage
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        mv ./tests/.coverage.* ./
        pip install coveralls
        coverage combine
        coverage report
        coveralls --service=github
